{
    "plugins": [
        ["prismjs", {
            "languages": ["clike", "java", "markup", "jsx", "reason"],
            "plugins": ["line-numbers"],
            "theme": "okaidia",
            "css": true
        }],
        "transform-object-rest-spread"
    ]
}